enable-magisk-update = true
parallel-jobs = 1
remove-rv-integrations-checks = true

# ReVanced Extended
[YouTube-Extended]
enabled = true
app-name = "YouTube"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
patches-source = "inotia00/revanced-patches"
#integrations-source = "inotia00/revanced-integrations"
cli-source = "inotia00/revanced-cli"
#cli-version = "V2.0.0-beta"
#patches-version = "dev"
rv-brand = "ReVanced Extended"
build-mode = "apk"
included-patches = "'Hide Shorts dimming' 'Force hide player buttons background' 'MaterialYou'"
excluded-patches = "'Alternative thumbnails' 'Change form factor' 'Enable gradient loading screen' 'Translations for YouTube' 'Spoof app version' 'Disable layout updates' 'Enable debug logging' 'Disable QUIC protocol' 'Disable sign in to TV popup' 'Spoof watch history'"
patcher-args = "-e 'Custom branding name for YouTube' -OappName=RexTube -e 'Custom branding icon for YouTube' -OchangeSplashIcon=false -OrestoreOldSplashAnimation=true -e 'Custom header for YouTube' -OcustomHeader=hara -e 'Custom Shorts action buttons' -OiconType=cairo -e 'Theme' -OdarkThemeBackgroundColor=@android:color/black -OlightThemeBackgroundColor=@android:color/white -e 'Visual preferences icons for YouTube' -OapplyToAll=true -OsettingsMenuIcon=revanced -e 'Overlay buttons' -OiconType=bold -OwiderButtonsSpace=true -OchangeTopButtons=true -ObottomMargin=3.5dip -e 'Settings for YouTube' -OrvxSettingsLabel=Extended -e 'Hide shortcuts' -Oshorts=true"

# ReVanced
[YouTube]
enabled = true
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
#archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.youtube"
#cli-source = "Graywizard888/Enhancify-cli-v21"
#cli-version = "V2.0.0-beta"
#patches-version = "dev"
version = "20.15.40"
excluded-patches = "'Change form factor' 'Spoof app version' 'Alternative thumbnails' 'Enable debugging' 'Spoof device dimensions' 'Disable sign in to TV popup' 'Spoof video streams' 'Hide timestamp' 'Check watch history domain name resolution'"
patcher-args = "-e 'Hide Shorts components' -OhideShortsAppShortcut=true -OhideShortsWidget=true -e 'Theme' -OdarkThemeBackgroundColor=@android:color/black"
build-mode = "module"
#apkmirror-dpi = "120-640dpi"
#arch = "all"
#riplib = true

# ReVanced Extended by anddea
[YouTube-anddea]
enabled = true
app-name = "YouTube"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
patches-source = "anddea/revanced-patches"
integrations-source = "anddea/revanced-integrations"
cli-source = "inotia00/revanced-cli"
#cli-version = "V2.0.0-beta"
#patches-version = "dev"
rv-brand = "ReVanced anddea"
version = "20.21.37"
build-mode = "apk"
included-patches = "'Hide Shorts dimming' 'Force hide player buttons background' 'MaterialYou'"
excluded-patches = "'Alternative thumbnails' 'Change form factor' 'Enable gradient loading screen' 'Translations for YouTube' 'Spoof app version' 'Disable layout updates' 'Enable debug logging' 'Disable QUIC protocol' 'Disable sign in to TV popup' 'Spoof watch history'"
patcher-args = "-e 'Custom branding name for YouTube' -OappName=RexTube -e 'Custom branding icon for YouTube' -OcustomIcon=xisr_yellow -OchangeSplashIcon=false -OrestoreOldSplashAnimation=true -e 'Custom header for YouTube' -OcustomHeader=hara -e 'Custom Shorts action buttons' -OiconType=cairo -e 'Theme' -OdarkThemeBackgroundColor=@android:color/black -OlightThemeBackgroundColor=@android:color/white -e 'Visual preferences icons for YouTube' -OapplyToAll=true -OsettingsMenuIcon=revanced -e 'Overlay buttons' -OiconType=bold -OwiderButtonsSpace=true -OchangeTopButtons=true -ObottomMargin=3.5dip -e 'Settings for YouTube' -OrvxSettingsLabel=Extended -e 'Hide shortcuts' -Oshorts=true"

# Morphe
[YouTube-Divyaa]
enabled = true
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
patches-source = "MorpheApp/morphe-patches"
#cli-source = "MorpheApp/morphe-cli"
cli-source = "AzyrRuthless/morphe-cli"
version = "21.02.35"
#cli-version = "dev"
#rv-brand = ""
excluded-patches = "'Change form factor' 'Spoof app version' 'Alternative thumbnails' 'Enable debugging' 'Spoof device dimensions' 'Disable sign in to TV popup' 'Spoof video streams' 'Hide timestamp' 'Check watch history domain name resolution'"
patcher-args = "-e 'Hide Shorts components' -OhideShortsAppShortcut=true -OhideShortsWidget=true -e 'Theme' -OdarkThemeBackgroundColor=@android:color/black"
build-mode = "apk"
arch = "arm64-v8a"
riplib = true
